.menu{
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 80px;
    gap: 20px;
    z-index: 999;
    background-color: #02263f;
    box-shadow: 0px 3px 20px #000000ce;
}
#s1{
    background-color: #ffff;
    color:#011422;
}
.rodape{
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #02263f;
  border-top: 2px solid cornflowerblue;
}

.rodape a{

  transition: all 500ms ease-in-out;
  border-radius: 999px;
  overflow: hidden;

}
.rodape a:hover{
  transform: translate(-15px) scale(1.3);
}

.s1{
    background-color: #ffff;
    color: #011422;
    height: 100vh;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.left{
    height: 400px;
    border-radius:100%;
    overflow: hidden;
     box-shadow: 0px 3px 20px #000000;
}

.imgPerfil{
    width: 400px;
    height: auto;
    transition: all 200ms ease-in-out;
}

.imgPerfil:hover{
    transform: scale(1.1);
}

.right{
   width: 500px;
}
.paragraph{
    font-size: 22px;
}
@media (width <= 768px) {
  .s1 {
    padding-top: 50px;
    gap: 0;
  }

  .left {
    width: 300px;
    height: 300px;
  }

  .imgPerfil {
    width: 300px;
    height: 300px;
  }

  .right {
    padding: 20px;
    margin-top: -150px;
  }
}
